@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'ubuntu';
    max-width: 1200px;
    margin: 0 auto;
    background-color: #1f1d1d;
}

img{
    max-width: 100%;
}

.title{
    padding: 15px;
    background-color: #eee;
    margin-bottom: 50px;
    color: #222;
}
main{
    display: flex;
    gap: 30px;
}


.container-img p{
    display: flex;
    margin-top: 15px;
    align-items: center;
    color: #fff;
}
.btn{
    display: inline-block;
    margin-top: 16px;
    padding: 8px 25px;
    border: 2px solid #0af2fa;
    color: #fff;
    text-decoration: none;
    background: #0af2fa;
}

.btn:hover{
    background: none;
}

.container-info-product{
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #fff;
}
.container-price{
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-price span{
    font-size: 24px;
}

.container-details-product{
    padding: 30px 0;
    
}

.form-group{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
    
}

.form-group label{
    width: 100px;
    color: #fff;
    font-weight: 700;
}

.form-group select{
    width: 300px;
    border: none;
    padding: 12px 15px;
    background-color: #f7f7f7;
    outline: none;
    color: #666;
}

.hidden{
    display: none;
}

.container-description,
.container-additional-information{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e4e4e4;
    padding: 10px 0;
}

.title-description,
.title-additional-information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.title-description h4,
.title-additional-information h4{
    color: #fff;
    font-size: 16px;
}

.text-description,
.text-additional-information{
    font-size: 15px;
    color: #252525;
    line-height: 22px;
    margin-top: 25px;
    color: #dfcfcf;
}

.footer{
    height: 55vh;
    width: 100%;
    background-color: #171717;
    padding: 80px 0;
    text-transform: capitalize;

}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: #00C3FF;
}

.footer-text {
    margin: 40px;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}