*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body{
    text-align: center;
    font-family: sans-serif;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background: #171717;
    position: fixed;
    width: 100%;
    z-index: 100%;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo{
    display: flex;
    border-radius: 30px;
    height: 55px;
    margin-left: 30px;
}

.navbar a{
    display: block;
    padding: 20px 20px; 
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
 .navbar a:hover {
    color: aquamarine;
 }

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 30px 0px;
    color: rgb(247, 248, 248);
}

.header{
    height: 100vh !important;
    background: url(imagenes/Territory/fondo3.jpg) no-repeat center; 
    background-size: cover;
}



.title{
    margin-bottom: 45px;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.possible{
   margin: 50px 0 10px 0;
   font-size: 20px;
}

p{
    margin-bottom: 30px;
    font-size: 18px;
    color: #fff;
    padding: 0px 100px;
}

.btn{
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #0af2fa;
    color: #fff;
    text-decoration: none;
    background: #0af2fa;
}

.btn:hover{
    background: none;
}

.btn-home {
    display: flex;
}

.btn-home a{
    margin: 0px 10px;
}

.content{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sau{
    padding: 20px;
    background: #1f1d1d;
    height: 100vh;
}


.box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.box-container .box{
    height: 11rem;
    width: 17rem;
    background: #101010;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3 5rem rgba(0, 0, 0, .5);
    margin: 2rem;
}

.box-container .box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #0af2fa;
    font-size: 2rem;
    margin: 10px 0;
}

.box-container .box h3{
    font-size: 20px;
    color: #0af2fa;
}

.box-container .box p{
    padding: 0px 15px;
    font-size: 16px;
}

.about {
    height: 100vh;
    background: #171717;
}
.about h2{
    display: flex;
    margin: 5px 0px;
}

.title-about{
    
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.about img{
    display: flex;
    height: 30vh;
    margin: 5px 0px 15px 0px;
}

.about p{
    margin: 5px;
    font-size: 18px;
    color: #fff;
}

.price{
    background: url(imagenes/Territory/fondo2.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
}

.price p{
    padding: 0px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.footer{
    height: 55vh;
    background-color: #171717;
    padding: 80px 0;
    text-transform: capitalize;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: #00C3FF;
}

.footer-text {
    margin: 40px;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}