* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        180deg,
        rgb(168, 162, 162) 0%,
        rgb(24, 23, 23)100%);
    display: flex; 
    align-items: center;
    justify-content: center;   
    min-height: 100vh;
}


form{
    background-image: url(imagenes/contacto2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 420px;
    height: 700px;
    text-align: center;
    box-shadow: 0 0 20px rgba(218, 216, 216, 0.4);
}
.form-login{
    padding-top:120px ;
}

.logo{
    margin-bottom: 25px;
}

.input-container{
    position: relative;
}

.input-container > i{
    padding: 14px;
    border-radius: 50%;
    background: linear-gradient(
        90deg,
        rgb(247, 94, 49,1) 0%,
        rgb(241, 169, 17,1)100%);
    color: #FFFFFF;
    position: absolute;
    font-size: 20px;
    top: 7px;
    right: 8px;
}

.input-container > input{
    padding: 20px 50px 20px 15px;
    width: 100%;
    margin-bottom: 25px;
    border-radius: 35px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    font-size: 17px;
    outline: none;
    color: #FFFFFF;
}

::placeholder {
    color: #FFFFFF;
    font-size: 17px;
}

form a{
    display: block;
    color: #FFFFFF;
    font-size: 17px;
    text-decoration: none;
    margin-bottom: 35px;
}

.btn{
    background: linear-gradient(
        90deg,
        rgb(247, 94, 49,1) 0%,
        rgb(241, 169, 17,1)100%);
    padding: 14px 75px;
    border: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 17px;
    cursor: pointer;
}

@media(max-width:991px) {
    body{
        padding: 30px;
    }
    .form{
        width: 100%;
    }
}