* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: sans-serif;
    vertical-align: baseline;
    list-style: none;
}

body{
    background-color: #1f1d1d;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background: #171717;
    
    width: 100%;
    z-index: 100%;
}

.navbar{
    display: flex;
    margin-right: 10px;
}

.logo{
    display: flex;
    border-radius: 30px;
    height: 55px;
    margin-left: 30px;
}

.navbar a{
    display: block;
    padding: 20px 20px; 
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}
 .navbar a:hover {
    color: aquamarine;
 }

.title h1{
    display: flex;
    margin-top: 60px;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
}

.title p{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 18px;
    color: #fff;
    padding: 0px 100px;
}
.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}


.box i{
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: #0af2fa;
    font-size: 2rem;
    margin: 10px 0;
}


.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}
.btn{
    display: inline-block;
    margin-top: 16px;
    padding: 8px 16px;
    border: 2px solid #0af2fa;
    color: #171717;
    text-decoration: none;
    background: #0af2fa;
}

.btn:hover{
    background: none;
}

.footer{
    height: 55vh;
    width: 100%;
    background-color: #171717;
    padding: 80px 0;
    text-transform: capitalize;
}

.footer-row{
    display: flex;
    flex-wrap: wrap;
}

.footer-links{
    width: 25%;
    padding: 0 15px;
}

.footer-links h4{
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a{
    display: inline-block;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover{
    background-color: #00C3FF;
}

.footer-text {
    margin: 40px;
    padding: 5px;
    text-align: center;
    color: #FFFFFF;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}


